<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings file="..\..\AppSettingsSecrets.config">
    <add key="Account_DemoBuild_Table" value="https://demobuildtable.documents.azure.com:443/" />
    <add key="Account_DemoBuild_Table_Key" value="HEREYOUCOULDFINDAKEYIFIWASNOTCAREFUL" />
    <add key="Account_DemoBuild_Table_ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=demobuildtable;AccountKey=HEREYOUCOULDFINDAKEYIFIWASNOTCAREFUL;TableEndpoint=https://demobuildtable.documents.azure.com" />

    <add key="Account_DemoBuild_Hobbit" value="https://hobbit.documents.azure.com:443/" />
    <add key="Account_DemoBuild_Hobbit_Graph" value="hobbit.graphs.azure.com:443/" />
    <add key="Account_DemoBuild_Hobbit_Key" value="ThisIsASecretYouShallNotFigureOut" />

    <add key="Account_DemoBuild_Mongo" value="https://demobuildmongo.documents.azure.com:443/" />
    <add key="Account_DemoBuild_Mongo_Key" value="SOMEMAGICKEYAKAPRIMARYKEY" />
    <add key="Account_DemoBuild_Mongo_ConnectionString" value="mongodb://demobuildmongo:SOMEMAGICKEYAKAPRIMARYKEY@demobuildmongo.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb" />
    <add key="Account_Bitnami_Mongo_ConnectionString" value="mongodb://--username--:--password--@--hostname-->:--port--/--database--"/>

    <add key="Account_DemoBuild_Docs" value="https://demobuilddocs.documents.azure.com:443/" />
    <add key="Account_DemoBuild_Docs_Key" value="NEIN HIER STEHT KEIN KEY :-P" />

    <add key="Account_GlobalBuildDemo" value="https://globalbuilddemo.documents.azure.com:443/" />
    <add key="Account_GlobalBuildDemo_Key" value="NEIN HIER STEHT KEIN KEY :-P" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.0.0" newVersion="1.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
