<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="Account_DemoBuild_Table" value="https://demobuildtable.documents.azure.com:443/"/>
  <add key="Account_DemoBuild_Table_Key" value="HEREYOUCOULDFINDAKEYIFIWASNOTCAREFUL"/>
  <add key="Account_DemoBuild_Table_ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=demobuildtable;AccountKey=HEREYOUCOULDFINDAKEYIFIWASNOTCAREFUL;TableEndpoint=https://demobuildtable.documents.azure.com"/>

  <add key="Account_DemoBuild_Hobbit" value="https://hobbit.documents.azure.com:443/"/>
  <add key="Account_DemoBuild_Hobbit_Graph" value="hobbit.graphs.azure.com:443/"/>
  <add key="Account_DemoBuild_Hobbit_Key" value="DER SCHLÜSSEL ZUR TROLLHÖHLE PASST HIER"/>
 
  <add key="Account_DemoBuild_Mongo" value="https://demobuildmongo.documents.azure.com:443/"/>
  <add key="Account_DemoBuild_Mongo_Key" value="SOMEMAGICKEYAKAPRIMARYKEY"/>
  <add key="Account_DemoBuild_Mongo_ConnectionString" value="mongodb://demobuildmongo:SOMEMAGICKEYAKAPRIMARYKEY@demobuildmongo.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb"/>
  
  <add key="Account_DemoBuild_Docs" value="https://demobuilddocs.documents.azure.com:443/"/>
  <add key="Account_DemoBuild_Docs_Key" value="NEIN HIER STEHT KEIN KEY :-P"/>

  <add key="Account_GlobalBuildDemo" value="https://globalbuilddemo.documents.azure.com:443/"/>
  <add key="Account_GlobalBuildDemo_Key" value="NEIN HIER STEHT KEIN KEY :-P"/>

</appSettings>
</configuration>
